* {
    border: 1px dashed gray;
    /** kutular için border **/
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;

}



.nav-items {
    display: flex;
    
    justify-content: space-between;
    text-align: center;


}

 a {
    color:black;
    text-decoration: none;
}

.nav-bar-right {
    display: flex;
    justify-content: end;
    height: 30px;
    align-items: center;
}

.navbar-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.kirmizi {
    color:#FF0000
}

.main-content {
    width: 50%;
}