* {
    border: 1px dashed gray;
    /** kutular için border **/
}

header {
    display:flex;

}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-items {
    justify-content: center;
    text-align: center;
    align-items: center;

}

.nav-bar-right {
    text-align: right;
}