* {
    border: 1px dashed gray;
    /** kutular için border **/
}

header {
    display:flex;
    height: fit-content;
    }

header h1 {
    color:#FF0000;
    text-align: left;
    flex:1;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex:1;
}

.nav-items {
    display: flex;
    gap: 20px;
}


.nav-bar-right {
    display: flex;
    justify-content: end;
    align-items: center;
    align-content: center;
    flex:1;

}
.navbar-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

nav a {
    text-decoration: none;
    color:black;
}

.main-container {
    border: 1px solid black;
}
.main-content {
    width: 50%;
}

.main-aciklama p {
    margin:0;
    padding: 0;
}

.main-content .kirmizi {
    color:#FF0000;
    font-weight: bold;
}

.onaltiustu {
    border:1px solid black;
    border-radius: 5px;
    padding:3px;
}

.red-star {
    color:#FF0000;
}

.main-content .play-btn  {
    background-color: #FF0000;
    color:white;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
    padding: 10px 30px 10px 10px;
    cursor: pointer;
    
}